.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
}

.product-title {
    font-size: 22px;
    margin: 0;
    color: black;
}

.product-description {
    font-size: 16px;
    color: #141414;
}

.product-price {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}